@tailwind base;
@tailwind components;
@tailwind utilities;

/*

  SCROLLBAR SPECIFICATIONS

*/

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  background: rgba(182, 182, 182, 0);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 105, 247);
  border-radius: 100vw;
}

.light-scrollbar::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: rgba(182, 182, 182, 0);
  border-radius: 100vw;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(84, 192, 255, 0.377);
  border-radius: 100vw;
}


/*

  FOCUS SPECIFICATIONS

*/

:focus {
  outline: none;
}

/*

  FONTS SPECIFICATIONS

*/

@font-face {
  font-family: 'poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'couture';
  src: url('./fonts/couture-bld.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*

  CALENDAR SPECIFICATIONS

*/

.rbc-event, .rbc-day-slot .rbc-background-event {
  background-color: aqua !important;
}


/*

  DATE PICKER SPECIFICATIONS

*/

.rdp {
  --rdp-accent-color: #0a50fa !important;
  --rdp-background-color-dark: #4678f4 !important;

  margin: 0em !important;
  width: 100% !important;
  height: 100% !important;
}

.rdp-table {
  width: 100% !important;
}