@tailwind base;
@tailwind components;
@tailwind utilities;

/*

  SCROLLBAR SPECIFICATIONS

*/
/*#region*/

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  background: rgba(182, 182, 182, 0);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 105, 247);
  border-radius: 100vw;
}

.light-scrollbar::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: rgba(182, 182, 182, 0);
  border-radius: 100vw;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(84, 192, 255, 0.377);
  border-radius: 100vw;
}

.very-light-scrollbar::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.very-light-scrollbar::-webkit-scrollbar-track {
  background: rgba(182, 182, 182, 0);
  border-radius: 100vw;
}

.very-light-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(169, 222, 253);
  border-radius: 100vw;
}
/*#endregion*/

/*

  FOCUS SPECIFICATIONS

*/

:focus {
  outline: none;
}

/*

  FONTS SPECIFICATIONS

*/
/*#region*/

@font-face {
  font-family: "poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "couture";
  src: url("./fonts/couture-bld.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*#endregion*/

/*

  CALENDAR SPECIFICATIONS

*/
/*#region*/

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background: linear-gradient(45deg, #0a50fa, #54c0ff) !important;
  transition: all 200ms ease-in !important;
  transform: translate(0, 0) !important;
  width: 96% !important;
  margin: auto !important;
}

.rbc-month-view .rbc-event {
  margin-top: 1% !important;
}

.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: 0px auto #4678f4 !important;
}

.rbc-event:hover {
  transform: translate(0, -0.1rem) !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4) !important;
}

.rbc-time-column {
  height: 150em !important;
}

/*#endregion*/

/*

  DATE PICKER SPECIFICATIONS

*/
/*#region*/

.rdp {
  --rdp-accent-color: #54c0ff !important;
  --rdp-background-color-dark: #54c0ff !important;

  margin: 0em !important;
  width: 100% !important;
  height: 100% !important;
}

.rdp-table {
  max-width: 100% !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.rdp-month {
  width: 100% !important;
}

.rdp-day {
  display: inline-block !important;
}

/*#endregion*/

.tree-container {
  height: calc(100vh - 20px);
}

.tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.custom-prose * {
  margin: -0.2rem 0;
  width: 100%;
  max-width: 100%;
}

.custom-prose a {
  color: #54c0ff;
}
